<div class="container">
    <h1 id="color-override">Eat Da Burger</h1>
    <p id="color-override">Burgers are Life!!</p>
    <br>
    <h2 id="color-override">Make a Burger</h2>
    <panel>
        <form class="create-form">
            <div class="form-group">
                <label for="newburger" id="color-override">New Burger:</label>
                <input type="text" id="newburger" name="burger">
                <button type="submit" class="btn btn-success" id="addburger"><span class="fa fa-thumbs-up"></span></button>
            </div>
        </form>
    </panel>
    
</div>