body{
    font-family: 'Varela Round', sans-serif;
    background: url(../images/giphy.gif);
    
}

h1{
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}

p{
    font-weight: bold;
    text-align: center;
}

#righthead{
    padding: 20px;
    color: red;
}